<div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
    <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
        <div class="mb-4">
            <h1 class="text-4xl font-black">Todo List</h1>
            <form [formGroup]="newTodoForm" class="flex my-4" (ngSubmit)="addTask()">
                <input class="shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker"
                    placeholder="Add Todo" formControlName="todoItem">
                <button type="submit"
                    class="flex-no-shrink p-2 border-2 rounded text-teal border-teal hover:text-white hover:bg-teal">Add
                </button>
            </form>
            <div class="d-flex justify-content-center">
            <button class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded text-primary border-primary hover:bg-green" (click)="showAll()">All</button>
            <button class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded text-danger border-danger hover:bg-green" (click)="showOpen()">Open</button>
            <button class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded text-success border-success hover:bg-green" (click)="showDone()">Done</button>
            </div>
        </div>


        
        <div>
            <div class="flex mb-4 items-center" *ngFor="let value of taskList; index as i">
                <p class="w-full text-grey-darkest m-auto" [ngClass]="{'line-through': value.completed}">{{value.name}}</p>
                <p *ngIf="!value.completed; else done" class="text-danger m-auto">Open</p>
                <ng-template #done>
                    <p class="text-success m-auto">Done</p>
                </ng-template>
                <button class="flex-no-shrink p-2 ml-4 mr-2 border-2 rounded text-success border-success hover:bg-green"
                    (click)="markDone(value)">V</button>
                <button class="flex-no-shrink p-2 ml-2 border-2 rounded text-danger border-danger  hover:bg-red"
                    (click)="removeTask(i)">X</button>
            </div>
        </div>
    </div>
</div>